pandas
prefect
prefect-sqlalchemy
prefect-gcp[cloud_storage]
protobuf
pyarrow
pandas-gbq
psycopg2-binary
sqlalchemy
ipykernel
polars
dbt-core
dbt-bigquery
dbt-postgres
pyspark
confluent-kafka
httpx
pydantic==1.10.11
anyio==3.7.1